* {
  box-sizing: border-box;
  margin: 0px;
}
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.wrapper__header {
  width: 100%;
  height: 48px;
}
.header__title__wrapper {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #999999;
  margin-bottom: 5px;
}
.header__title {
  width: 90px;
  height: 17px;
  font-size: 13px;
  font-weight: 700 bold;
  color: #55b2d4;
}
.header__subtitle {
  width: 70px;
  height: 8px;
  font-size: 8px;
  font-weight: 400;
}
.header__body {
  width: 111px;
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  color: #999999;
}
.wrapper__body {
  width: 100%;
  height: 270px;
}
.body__title__wrapper {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.body__title {
  width: 60px;
  height: 17px;
  font-size: 13px;
  font-weight: 700 bold;
  color: #55b2d4;
}
.body__subtitle {
  width: 88px;
  height: 8px;
  font-size: 8px;
  font-weight: 400;
}
.body__body {
  width: 100%;
  height: 240px;
  background-color: #c4c4c4;
}
